.container1 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.question {
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

button {
    display: inline-block;
    padding: 12px 20px;
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
  }
  
  button:hover {
    background: linear-gradient(to right, #ff5a79, #ff69a0);
    transform: translateY(-3px);
  }

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
}
